<main class="album py-5 bg-light" role="main">
  <div class="container">
    <div class="row sortable">
      <!-- <%= link_to "Create New item", new_portfolio_path if logged_in?(:site_admin) %> -->
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>      
    </div>
  </div>
</main>