<h1>About Me</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag 'portfolio.jpg', alt:"random image", class: "img-fluid" %>
  </div>
  <div class="col-md-8">
    <p>Accusamus maxime sapiente tenetur. Porro omnis perferendis modi dolor suscipit labore nisi. Quos dolorem possimus et dolores quae. Architecto in nulla quis et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi distinctio repudiandae, amet deleniti enim dolorem eos deserunt praesentium, expedita officia hic vero laborum dolores eveniet? Pariatur inventore culpa in beatae, ut magni deserunt fugit tenetur neque sapiente debitis corporis illum?</p>
  </div>
</div>

