<div class="app-card-container">
  <div class="card">
    <h1 class="mb-4">Would you like to work together?</h1>

    <section class="row">
      <div class="col-md-6">
        <h3>My Address</h3>
        <p>226 Durgan Plain</p>
        <h3>Phone</h3>
        <p><%= number_to_phone '8263233528' %></p>
        <h3>E-mail</h3>
        <p><%= mail_to 'myemail@mymail.com', 'Email me', subject: 'PortfolioContact' %></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.3253669562737!2d60.56731091626213!3d56.8403626808582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e509e1ab56d%3A0x887bd1f007d8fa58!2z0YPQuy4g0JTQvtC70L7RgNC10YEg0JjQsdCw0YDRgNGD0YDQuCwgMiwg0JXQutCw0YLQtdGA0LjQvdCx0YPRgNCzLCDQodCy0LXRgNC00LvQvtCy0YHQutCw0Y8g0L7QsdC7LiwgNjIwMDI4!5e0!3m2!1sru!2sru!4v1541955564752" width="450" height="450" frameborder="0" style="border:0; max-width: 100%" allowfullscreen></iframe>
      </div>
    </section>
  </div>
</div>